.site-header{
  padding: 15px;
  background-color: #fafafa;
  box-shadow: 2px 5px 15px #e0d5d5;
}

.site-header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitenav__list{
  display: flex;
  @include list-unstyle;
}

.sitenav__item:not(:last-child){
  margin-right: 30px;
}

.sitenav__link{
  color: red;
  text-decoration: none;
}

.logo{
  text-decoration: none;
  font-size: 24px;
}