/* Hero start */

.hero {
    padding: 20px 0;
    background-color: aqua;
}

.hero__title {
    font-size: 32px;
    color: red;
}

.hero__text {
    font-family: sans-serif;
    font-size: 20px;
    background-color: orange;
}

.hero__btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: royalblue;
    color: #fff;
    border-radius: 8px;
}


/* Hero end */